node_modules/
.next/
.env
.env.*
!.env.example
*.log
npm-debug.log*
.DS_Store
/coverage
.cache/
diagnostics/
server/
static/
dev/
turbopack/
build-manifest.json
BUILD_ID
export-marker.json
fallback-build-manifest.json
images-manifest.json
next-minimal-server.js.nft.json
next-server.js.nft.json
app-path-routes-manifest.json
prerender-manifest.json
required-server-files.js
required-server-files.json
routes-manifest.json
trace
trace-build
tsconfig.tsbuildinfo
